[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = https://github.com/edsono/vim-matchit
[submodule "vim/bundle/vim-buftabline"]
	path = vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
	ignore = dirty
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-styled-jsx"]
	path = vim/bundle/vim-styled-jsx
	url = https://github.com/alampros/vim-styled-jsx.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale.git
